body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #242424;
  color: white;
  font-family: Arial, sans-serif;
}

#root {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
}